<head>
  <meta charset="UTF-8">
  <title>Desafio Técnico - eRural</title>
</head>
<body>
  <div class="container">
    <div class="user-icon"></div>
    <form action="/pages/salas" method="get">
      <div class="input-group">
        <label for="name">Digite o seu nome:</label>
        <input type="text" id="name" name="name" placeholder="Digite o seu nome" required>
      </div>
      <div class="input-group">
        <input type="submit" value="Enviar">
      </div>
    </form>
  </div>
</body>